:root {
  --highlight: #f2b349;
  --card-bg: #f8f8f8;
}

.route-card {
  min-height: 120px;
  border-radius: 5px;
  background: var(--card-bg);
  max-width: 420px;
}

.cards {
  min-height: 150px;
  max-width: 400px;
  padding: 10px 15px;
}
.card-pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.mt--1 {
  margin-top: -10px;
}

.icon-images {
  width: 32px;
  height: 32px;
}

.modal-wrapper {
  min-height: 100%;
  max-height: fit-content;
  width: 100%;
  position: absolute;
  z-index: 5;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(3px);
  overflow: auto;
}

.modal-container {
  height: fit-content;
  min-width: 85%;
  max-width: 400px;
}

.height-50 {
  height: 75px;
  padding-left: 20%;
}

.btn-height {
  height: 35px !important;
  padding: 5px;
}
.left-lining {
  width: 20%;
  margin-left: 30px;
  border-right: 3px solid var(--highlight);
}

.right-lining {
  min-width: 80%;
  width: fit-content;
}
.timelinecard-market {
  min-height: 90px;
  width: 100%;
  border-radius: 5px;
  background: var(--card-bg) !important;
}
.timelinecard {
  position: relative;
  min-height: 50px;
  width: 100%;
  max-width: 400px;
  border-radius: 0px 5px 5px 0px;
  padding-bottom: 14px;
  background: var(--card-bg) !important;
}
.feed-card {
  width: 100%;
  height: fit-content;
}
.feed-card image {
  width: 30px !important;
  height: 30px !important;
}
.card-time {
  position: absolute;
  left: -70px;
  top: 32px;
}

.card-ring {
  position: absolute;
  left: 0px;
  top: 20px;
  transform: translate(-50%);
  height: 50px;
  width: 50px;
  border: 3px solid var(--highlight);
  border-radius: 50%;
  background: white;
}

.date-stamp {
  position: relative;
  left: -80px;
  width: 160px;
  border: 2px solid var(--highlight);
}

.timeline-tag {
  border: 2px solid var(--highlight);
  position: relative;
  left: -60px;
  width: 120px;
}

.seat-blank {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ecf3ff;
}

.screen-overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0%;
  z-index: 0;
}
